
/* ==========================================================================
   setting mediascreen-header
   ========================================================================== */
@import 'header/media-header';
@import 'footer/media-footer';


@import 'page-media/homepage-media';
@import 'page-media/login-media';
@import 'page-media/produk-detail-media';
@import 'page-media/submit-penawaran-media';
@import 'page-media/edit-profile-media';
@import 'page-media/profile-media';
@import 'page-media/forgot-password-media';
@import 'page-media/reset-password-media';
@import 'page-media/favorit-media';
@import 'page-media/pencarian-media';
@import 'page-media/list-produk-media';
@import 'page-media/setting-media';
@import 'page-media/kontak-media';
@import 'page-media/member-area-media';
@import 'page-media/inbox-media';
@import 'page-media/register-media';


@media screen and (min-aspect-ratio: 16/9) {
  .homeWrapper .konten .productCarousel .slick-slide img{
    width: 170px !important;
    height: 95.63px !important;
  }
  .homeWrapper .konten .productCarousel{
    //max-height: 16em;
    margin: 1em auto;
    .slick-list{
      min-height: 12em;
    }
  }
  /*img{
    width: 300px !important;
    height: 168.75px !important;
  }*/
}

@media screen and (min-aspect-ratio: 8/5) {
  .homeWrapper .konten .productCarousel .slick-slide img{
    width: 170px !important;
    height: 106.25px !important;
    
  }

  /*img{
    width: 300px !important;
    height: 187.50px !important;
  }*/
}

@media screen and (min-aspect-ratio: 4/3) {
  .homeWrapper .konten .productCarousel{
    //max-height: 16em;
    margin: 1em auto;
  }
  .homeWrapper .konten .productCarousel .slick-slide img{
    width: 170px !important;
    height: 127.50px !important;
  }
  /*img{
    width: 300px !important;
    height: 225px !important;
  }*/
}


@media only screen and (min-width : 1281px) {


  .cl{width: 74%; }
  .cr{width: 26%;}

  .homeWrapper .konten .productCarousel{
    //max-height: 16em;
    margin: 1em auto;
    .slick-list{
      min-height: 12em;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {


  .navbar-brand{display: none;}

  .cl{width: 70%; }
  .cr{width: 29.33333%;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



  .container{
    width: 100%;
  }
  .item{
    padding-left: 0;
    margin-bottom: 1em;
  }
  .item.mbp{
    padding-left: 1em;

    margin-bottom: 1em;
  }
  .item.mbp:nth-of-type(even){
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .item.mbp:nth-of-type(odd){
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

}

@media only screen and (max-width : 991px) {
  .brcrm{
    padding-top: 4em;
  }
}


@media only screen and (max-width : 767px){


  div.sidebar-Product{
    margin-bottom: 2em;
  }
  .konten .favoritKonten div.fav-wrap .sidebar-produk{
    margin-top: 4em;
    margin-bottom: 2em;
  }
  div.paginationControll{
    margin-top: 1em;
    margin-left: 0;
    .paginationProduct{
      padding-right: 1em;
    }
  }
  .def-page{
    min-height: auto;
  }
  .footer{
    position: relative;
  }
  .col-xs-5th, .col-sm-5th, .col-md-5th, .col-lg-5th{
    padding: 1em;
  }
  .item{
    padding-left: 1em;
    margin-bottom: 1em;
    .thumbnail{
      margin-bottom: 4.5em;
    }
  }
  .item.itempc{padding-left: 0;}
}

@media only screen and (max-width : 480px) {
  .konten .favoritKonten div.fav-wrap .sidebar-produk{
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .item{
    padding-left: 1em;
    .thumbnail{
      margin-bottom: 4.5em;
    }
  }
  .item.itempc{padding-left: 0;}
 body{
   #toTop{
     visibility: hidden;
   }
 }
 .brcrm{
   display: none;
   .boxed{max-width:100% }
   a.breadcrumb-item{
     background: transparent;
     padding: 0;
   }
   a.breadcrumb-item::before{

   }
   a.breadcrumb-item::after{
     border: 0;
   }
   span.active{
     background: transparent;
   }
   span.active::after{
     border: 0;
   }
 }
}

@media only screen and (max-width : 320px) {
  .item{
    padding-left: 1em;
    .thumbnail{
      margin-bottom: 4.5em;
    }
  }
  .item.itempc{padding-left: 0;}
}
