.searchInput{
  position: relative;
  input.inputCari {
      
      padding-left: 3.5em;
      width: 100%;
      box-shadow: none;
      outline: none;
      border-color: #eee;
      border-radius: 0;

      background: url('../img/search.png') no-repeat $mainbg;
      background-position: left 1em top 50%;
      background-size: 15px 15px;

      border-top: #eee 1px solid;
      border-left: #eee 1px solid;
      COLOR: #000000;
      border-bottom: #eee 1px solid;
      //height:18px;
      position:relative;

    }
}
