
.EditProfileWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 24em;
  height: auto;


}

.EditProfileContent{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;

  .sidebar{
    padding-right: 0;
    .sidebarMenu{
      position: relative;
      margin: 0;
      padding: 0;
      padding-bottom: 1em;
      width: 100%;
      background-color: #fff;
      .transition,ul.listMenu li.limenu ul.submenu {
        transition: all 0.2s ease-in-out;
      }
          .flipIn, h1, ul li {
          animation: flipdown 0.5s ease both;
          }
          .no-select, a {
          -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          }
            ul.listMenu {

              li.limenu {
                position: relative;
                padding: 10px 1em;
                margin: 0;
                border-top: 1px solid #eee;
                a.btnmenu {
                  color: $coloridentitas1;
                  text-transform: capitalize;
                  font-size: 12px;
                  line-height: 20px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  display: block;
                  background-color: #fff;
                  margin: 0;
                  cursor: pointer;
                }
                a.btnmenu:hover{
                  opacity: 1;
                }
                table.profile{
                  width: 100%;
                  td.pLeft{
                    width: 25%;
                  }
                  td.pRight{
                    width: 85%;
                  }
                  td.profile-picture{
                    a.picture{
                      img{
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                      }
                    }
                  }
                  td.name{
                    padding-top: 15px;
                    a{
                      font-weight: bold;
                      color: $coloridentitas1;
                    }
                  }
                  td.memberSince{
                    p{
                      font-size: 12px;
                      opacity: 0.6;
                    }
                  }
                }
                ul.submenu{
                  position: relative;
                  overflow: hidden;
                  opacity: 1;
                  margin-top: 1em;
                  margin-left: 1em;
                  transform: translate(0, 0);
                  z-index: 2;
                  li{
                    a.linkMenu{
                      text-transform: capitalize;
                      display: block;
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      font-weight: normal;

                    }
                  }
                }
              }
              li.limenu:nth-of-type(1) {
                border-top: none;
                animation-delay: 0.2s;
              }
              li.limenu:nth-of-type(2) {
                animation-delay: 0.3s;
              }
              li.limenu:nth-of-type(3) {
                animation-delay: 0.5s;
              }
              li.limenu:last-of-type {
                padding-bottom: 0;
              }
            }
            ul li.limenu i {
              position: absolute;
              margin-top: 5px;
              right: 10px;
              color: $coloridentitas1;
            }
            ul li.limenu i::after {
              font-family: FontAwesome;
              content: "\f056";
            }
            ul li.limenu input[type=checkbox] {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: 0;
            }
            ul li.limenu input[type=checkbox]:checked ~ ul.submenu {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
            }
            ul li.limenu input[type=checkbox]:checked ~ i::after {
              content: "\f055";
            }

    }
  }
  .editProfile{

  .EditProfileWrap{
      position: relative;
      margin: 0;
      padding: 1em 0;
      padding-bottom: 0;
      width: 100%;
      height: auto;
      background-color: #fff;
      form{
        div.pictureBox{
          position: relative;
          margin:0;
          margin-bottom: 1em;
          padding: 0 1em;
          width: 100%;
            .up_box{position: relative;width: 100%}
            .dropzone .dz-message{
              display: none;
            }
              .dragNdrop{
                position: relative;
                margin: 0;
                width: 100%;
                height: 130px;
                cursor: pointer;
                border: 1px solid #eee;
                border-radius: 3px;
                background: url("../img/nullimg.jpg") 50% 50%;
                  img.uploudImg{
                    position: relative;
                    width: 100%;
                    max-height:100%;
                    border-radius: 3px;
                  }

              }
              div.popUpDelete{
                z-index: 3;
                position: relative;
                top:auto;
                bottom: 0;
                height: 30px;
                text-align: center;
                padding-top: 5px;
                opacity: 0;
                background-color: rgba(0,0,0,0.8);
                text-align: center;

                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;

                -moz-transform: translate3d(0,-10%,0);
                -ms-transform: translate3d(0,-10%,0);
                -o-transform: translate3d(0,-10%,0);
                -webkit-transform: translate3d(0,-10%,0);
                 transform: translate3d(0,-10%,0);

                a{
                  display: block;
                  color: #fff;
                }
              }

              .adaImg:hover .popUpDelete{
                -moz-transform: translate3d(0,-100%,0);
                -ms-transform: translate3d(0,-100%,0);
                -o-transform: translate3d(0,-100%,0);
                -webkit-transform: translate3d(0,-100%,0);
                 transform: translate3d(0,-100%,0);

                  opacity: 1;

              }


        }
        div.dataProfile{
          position: relative;
          width: 100%;
          margin: 1em 0;
          height: auto;

              .nonaktif{
                border: none;
                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
                opacity: 0.8;
              }
              label{
                font-size: 12px;
                margin-left: 5px;
              }


              div.KategoriMember{
                position: relative;
                margin: 1em 0;
                padding: 0 1em;
                width: 100%;
                  div.ptORpersonal{
                    padding: 0 1em;
                    .po{
                      .col-perusahaan,.col-perorangan{

                      }

                      p{
                        font-size: 11px;
                        font-weight: bold;
                        text-align: left;
                      }
                      .ac-radio{
                        svg {
                          position: absolute;
                          width: 12px;
                          height: 12px;
                          top: 2px;

                          left: 17px;
                          pointer-events: none;
                        }
                      }
                    }

                  }
                  div.statusDagang{
                    margin-left: 0;
                    p{
                      font-size: 11px;
                      font-weight: bold;
                      text-align: left;
                    }
                    .line2{
                      margin-top: 1em;
                    }
                    .ac-checkbox{
                      svg {
                        position: absolute;
                        width: 17px;
                        height: 16px;
                        top: -2px;

                        left: 16px;
                        pointer-events: none;
                      }
                      svg path {

                        stroke-width: 13px;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill: none;
                      }

                    }
                  }

                  div.pembeliORpenjual{
                    p{
                      font-size: 11px;
                      font-weight: bold;
                      text-align: left;
                    }
                    .ac-checkbox{
                      svg {
                        position: absolute;
                        width: 17px;
                        height: 16px;
                        top: -2px;

                        left: 16px;
                        pointer-events: none;
                      }
                      svg path {

                        stroke-width: 13px;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill: none;
                      }

                    }
                  }

              }
              .form-def{
                position: relative;
                margin: 0;
                margin-top: 1em;
                padding: 0 1em;
                width: 100%;
              }
              //div.DescInput{
                //position: relative;
                //margin: 0;
                //padding: 0 1em;
                //width: 100%;
              //}
              div.almtInput{
                position: relative;
                margin: 1em 0;
                margin-bottom: 0;
                padding: 0 1em;
                width: 100%;
                #SelectKota{
                  margin-top: 5px;
                }
              }
              div.SektornCategori{
                position: relative;
                margin-bottom: 1em;
                border-top: 1px solid #eee;

                padding: 1em;
                width: 100%;

                    .sektor{
                      width: 100%;
                      margin: 1em 0;
                      .show{  visibility: visible;}
                      .hide2{width: 0;}
                        .ac-checkbox{
                          svg {
                            position: absolute;
                            width: 17px;
                            height: 16px;
                            top: 6px;

                            left: 0;
                            pointer-events: none;
                          }
                          svg path {

                            stroke-width: 13px;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                          }

                        }
                        .sektorPertanian{

                          .cekboxTani{

                            position: relative;
                            width: 100%;
                            margin: 0;
                            padding-top: 8px;
                          }

                        }

                        .sektorPerHutanan{
                          .cekboxHutan{
                            position: relative;
                            width: 100%;
                            margin: 0;
                            padding-top: 8px;
                          }

                        }
                        .sektorPerikanan{
                          .cekboxPerikanan{
                            position: relative;
                            width: 100%;
                            margin: 0;
                            padding-top: 8px;
                          }

                        }
                        .sektorLainnya{
                          .cekboxLainnya{
                            position: relative;
                            width: 100%;
                            margin: 0;
                            padding-top: 8px;
                          }

                        }

                    }
                    .produkUtama{
                      .prdLine1{
                        margin-top: 1em;
                      }
                    }
              }
              div.KontakUtama{
                position: relative;
                margin-bottom: 1em;
                border-top: 1px solid #eee;

                padding: 1em;
                width: 100%;
                    p.tittle{
                      font-weight: bold;
                    }
                    .kontakBox{

                      .ac-checkbox{
                        svg {
                          position: absolute;
                          width: 17px;
                          height: 16px;
                          top: -2px;
                          left:1em;
                          pointer-events: none;
                        }
                        svg path {

                          stroke-width: 13px;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          fill: none;
                        }

                      }
                      .makeitRight{
                      }
                    }
              }
              div.KontakLainnya{
                position: relative;
                margin-bottom: 1em;
                border-top: 1px solid #eee;
                padding: 1em;
                width: 100%;
                    p.tittle{
                      font-weight: bold;
                    }
                    .kontakBox{
                      .ac-checkbox{
                        svg {
                          position: absolute;
                          width: 17px;
                          height: 16px;
                          top: -2px;

                          left: 1em;
                          pointer-events: none;
                        }
                        svg path {

                          stroke-width: 13px;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          fill: none;
                        }

                      }
                      .makeitRight{
                        text-align: right;
                      }
                    }
              }
              div.MediaSocial{
                position: relative;
                margin-bottom: 1em;
                border-top: 1px solid #eee;
                padding: 1em;
                width: 100%;
                  p.tittle{
                    font-weight: bold;
                  }
                  .kontakBox{
                    .ac-checkbox{
                      svg {
                        position: absolute;
                        width: 17px;
                        height: 16px;
                        top: -2px;

                        left: 1em;
                        pointer-events: none;
                      }
                      svg path {

                        stroke-width: 13px;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill: none;
                      }

                    }
                    .makeitRight{
                      text-align: right;
                    }
                  }
              }
              div.tombolSave{
                position: relative;

                padding: 1em;
                width: 100%;
                .btn-cool{
                  display: block;
                  text-align: center;
                  width: 100%;
                  margin: 0;
                  padding: 1em 0;
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: bold;
                }
              }


        }
      }
    }
  }

}
