
.favorit-produk-Wrapper{
  position: relative;
  min-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 25em;

  min-height: 100%;


}
.bredkram{
  position: relative;
  width: 100%;
  margin: 0;
  height: auto;
}
.konten{
  position: relative;
  width: 100%;
  height: auto;
    .favoritKonten{
      width: 100%;
      //height: 400px;
      div.fav-wrap{
        .sidebar-produk{
          width: 100%;
          height: auto;
          border: 1px solid #eee;
          background-color: #fff;

          padding: 1em;
            .sidebarGrup{
              margin-top: 1em;
              margin-bottom: 0;
            }

        }
        .list-favorit-group{
          border: 0;
          .thumbnail{
            .qty{
              background-color: $coloridentitas2;
            }
            .Product-Att{

              .product-info3{

                border-top: 1px solid #eee;
                padding-top:0.8em;
                .dateView{

                  p,a{
                    vertical-align: middle;

                    font-size: 9px;
                    color: $coloridentitas2;
                  }
                  p{margin-top:3px;}
                  p.Seller,a{
                    font-size: 10px;

                  }
                }
              }


            }
          }


        }
      }
    }
    .adsR{padding-left: 0;}
    a.ads{
      width: 100%;
      min-width: 160px;
      height: 600px;
      background-color: #eee;

       display: block;
       p{
         text-align: center; font-size: 20px; color: $coloridentitas1;
         padding: 280px 0;
       }
    }
}
