.KontakWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 24em;


}

.KontakContent{
  position: relative;
  width: 100%;
    .Kontak{padding-left: 0;}
    .Kontak-wrap{
      background-color: #fff;
      position: relative;
      width: 100%;
        .tittle-box{
          position: relative;
          width: 100%;
          padding:8px 1em;
          border-bottom: 1px solid #eee;
            h3{
              margin-top: 5px;
              font-size: 24px;
              font-weight: 600;
              line-height: 15px;
            }
        }
        .hubungiPenjualBox{
          position: relative;
          width: 100%;

          background-color: #edf0d0;
            .Tittle{
              position: relative;
              width: 100%;
              margin: 0;
              background-color: $coloridentitas2;
              padding-top: 5px;
              padding-bottom: 5px;
                h2{
                  text-align: center;
                  text-transform: uppercase;
                  font-size: 16px;
                  font-weight: 600;
                  color: $coloridentitas1;
                }
            }

            .contentContact{
              position: relative;
              margin: 0;
              padding: 1em;
              width: 100%;
                textarea{
                  resize: none;
                }
                label{color: $coloridentitas1;}
                a.seller{
                  float: right;
                  text-transform: capitalize;
                }
                button.btn-cool{
                  width: 100%;
                  margin: 1em 0;
                  padding: 1em 0;
                  margin-right: 0;
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: bold;
                }
            }

            .kontak{
              position: relative;
              margin: 0;
              padding: 1em;
              padding-top: 0;
              width: 100%;
                p.tittlekontak{font-size: 14px;font-weight: bold;color: $coloridentitas1;}
                div.kontakList{margin-bottom: 1em}

                .trigger-show{display: none; width: 0;}
                div.telp{
                  position: relative;
                  div.tlpIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') 0 0;

                  }


                }
                div.telp:hover .trigger-show{display: inherit; width: 100%;}

                div.wa{
                  position: relative;
                  div.waIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -23px 0;

                  }




                }
                div.wa:hover .trigger-show{display: inherit; width: 100%;}

                div.gmail{
                  a{font-size: 11px;}
                  position: relative;
                  div.gmailIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 28px;
                    height: 28px;
                    background: url('../img/socialIcon.png') -48px 0;

                  }

                }


                div.phone{
                  position: relative;
                  div.phoneIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -75px 0;

                  }


                }
                div.phone:hover .trigger-show{display: inherit; width: 100%;}

                div.fax{
                  position: relative;
                  div.faxIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -98px 0;

                  }

                }
                div.fax:hover .trigger-show{display: inherit; width: 100%;}
                div.web{
                  position: relative;
                  div.webIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 25px;
                    height: 25px;
                    background: url('../img/www.png');

                  }

                }
                div.bbm{
                  position: relative;
                  div.bbmIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -122px 0;

                  }

                }
                div.bbm:hover .trigger-show{display: inherit; width: 100%;}

                div.Line{
                  position: relative;
                  div.LineIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 23px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -147px 0;

                  }

                }
                div.Line:hover .trigger-show{display: inherit; width: 100%;}
                div.pcawat{
                  position: relative;
                  div.pcawatIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 25px;
                    height: 26px;
                    background: url('../img/socialIcon.png') -170px 0;

                  }

                }
                div.pcawat:hover .trigger-show{display: inherit; width: 100%;}
                div.Line2{
                  position: relative;
                  div.Line2Icon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 24px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -195px 0;

                  }

                }
                div.Line2:hover .trigger-show{display: inherit; width: 100%;}
            }
            .medsos{
              position: relative;
              margin: 0;
              padding: 1em;
              padding-top: 0;
              width: 100%;
                p.tittlekontak{font-size: 14px;font-weight: bold;color: $coloridentitas1;}
                div.kontakList{margin-bottom: 1em}

                .trigger-show{display: none; width: 0;}
                div.facebook{
                  position: relative;
                  div.fbIcon{
                    float: left;
                    display:block;


                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') 0 0 no-repeat;

                  }


                }

                div.twitter{
                  position: relative;
                  div.twtIcon{
                    float: left;
                    display:block;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') -60px 0 no-repeat;

                  }


                }

                div.googlePlus{
                  position: relative;
                  div.googleIcon{
                    float: left;
                    display:block;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') -125px 0 no-repeat;

                  }

                }

                div.Ig{
                  position: relative;
                  div.IgIcon{
                    float: left;
                    display:block;


                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') -190px 0 no-repeat;

                  }

                }



            }
        }
        .i_box{
          position: relative;
          width: 100%;
        }
        .tab-pesan-masuk,.tab-pesan-terkirim,.tab-pesan-terkirim{
          position: relative;
          width: 100%;
          margin: 0;
        }
        .box-pesan{position:relative; width:100%; margin:0; padding:1em;}
        .searchInput{
          .inputCari{
            height: auto;
            padding: 5px;
            padding-left: 35px;
            border-radius: 3px;
          }
        }


    }
}
