
.memberWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 24em;
  height: auto;

}
.memberContent{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;

  .sidebar{
    padding-right: 0;
    .sidebarMenu{
      position: relative;
      margin: 0;
      padding: 0;
      padding-bottom: 1em;
      width: 100%;
      background-color: #fff;
      .transition,ul.listMenu li.limenu ul.submenu {
        transition: all 0.2s ease-in-out;
      }
          .flipIn, h1, ul li {
          animation: flipdown 0.5s ease both;
          }
          .no-select, a {
          -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          }
            ul.listMenu {

              li.limenu {
                position: relative;
                padding: 10px 1em;
                margin: 0;
                border-top: 1px solid #eee;
                a.btnmenu {
                  color: $coloridentitas1;
                  text-transform: capitalize;
                  font-size: 13px;
                  line-height: 20px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  display: block;
                  background-color: #fff;
                  margin: 0;
                  cursor: pointer;
                }
                a.btnmenu:hover{
                  opacity: 1;
                }
                table.profile{
                  width: 100%;
                  td.pLeft{
                    width: 25%;
                  }
                  td.pRight{
                    width: 85%;
                  }
                  td.profile-picture{
                    a.picture{
                      img{
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                      }
                    }
                  }
                  td.name{
                    padding-top: 15px;
                    a{
                      font-weight: bold;
                      color: $coloridentitas1;
                    }
                  }
                  td.memberSince{
                    p{
                      font-size: 12px;
                      opacity: 0.6;
                    }
                  }
                }
                ul.submenu{
                  position: relative;
                  overflow: hidden;
                  opacity: 1;
                  margin-top: 1em;
                  margin-left: 1em;
                  transform: translate(0, 0);
                  z-index: 2;
                  li{
                    a.linkMenu{
                      text-transform: capitalize;
                      display: block;
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      font-weight: normal;

                    }
                  }
                }
              }
              li.limenu:nth-of-type(1) {
                border-top: none;
                animation-delay: 0.2s;
              }
              li.limenu:nth-of-type(2) {
                animation-delay: 0.3s;
              }
              li.limenu:nth-of-type(3) {
                animation-delay: 0.5s;
              }
              li.limenu:last-of-type {
                padding-bottom: 0;
              }
            }
            ul li.limenu i {
              position: absolute;
              margin-top: 5px;
              right: 10px;
              color: $coloridentitas1;
            }
            ul li.limenu i::after {
              font-family: FontAwesome;
              content: "\f056";
            }
            ul li.limenu input[type=checkbox] {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: 0;
            }
            ul li.limenu input[type=checkbox]:checked ~ ul.submenu {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
            }
            ul li.limenu input[type=checkbox]:checked ~ i::after {
              content: "\f055";
            }

    }
  }
  .member{

    .member-wrap{
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      /*tab menu section*/
          div.tabs{

            margin: 0 auto;
            padding: 0px;
            width: 100%;

            .row{
              margin: 0 ;

               div.tab-link{
                 padding: 0;
                  text-align: center;
                  cursor: pointer;
                  vertical-align: middle;
                  .tes{
                    padding: 3px;
                    background-color: #fff;
                    p{
                      font-weight: bold;
                      cursor: pointer;
                      color: #bbb;
                      display: block;
                      margin-top: 9px;
                      text-transform: uppercase;
                    }
                    -webkit-transition: all 0.4s ease-in;
                    -moz-transition: all 0.4s ease-in;
                    -ms-transition: all 0.4s ease-in;
                    -o-transition: all 0.4s ease-in;
                    transition: all 0.4s ease-in;
                  }


                }
                div.tab-link:last-child{
                  padding-left: 1em;
                }

               div.tab-link.current{

                 .tes{
                    background-color: $coloridentitas2;
                    -webkit-transition: all 0.4s ease-in;
                    -moz-transition: all 0.4s ease-in;
                    -ms-transition: all 0.4s ease-in;
                    -o-transition: all 0.4s ease-in;
                    transition: all 0.4s ease-in;
                 }
                 p{
                   cursor: pointer;
                   color: #111;
                   display: block;
                 }


              }

            }
          }

          div.tab-content{
            height: 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            background: none;
            margin: 0;

            border: 1px solid transparant;


          }

          div.tab-content.current{
            height: auto;

          }

          .filterGrup{

            .selectWarp{
              width: 100%;
              position:relative;
              display: -moz-inline-stack;
              display: inline-block;
              vertical-align: middle;
              zoom: 1;
              *display: inline;
              color: #757575;
              select{
                border-radius: 3px;
                width: 100%;
                padding: 5px ;
                min-height: 35px;
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                box-sizing: border-box;
                /* Safari 3-4, iOS 1-3.2, Android 1.6- */
                position:relative;
                background-color: $mainbg;
                box-shadow: none;
                outline: none;
                border-color: #eee;
                color: #757575;
                option{
                  color: #757575;
                }
              }
              select:hover,select:active,select:focus{
                box-shadow: none;
                outline: none;
                border-color: #eee;


              }
            }
            .selectWarp:after{
              content: "\f107";
              font-family: FontAwesome;
              padding:8px;
              position:relative;
              left:80%;
              top:-25px;
              z-index: 1;
              width:5px;
              line-height:5px;
            }
          }
          .cari-filter{
            .cariListWrap{
              .searchInput{

                .inputCariList {

                    padding-left: 3.5em;
                    width: 100%;
                    box-shadow: none;
                    outline: none;
                    border-color: #eee;
                    background-color: $mainbg;
                    border-radius: 0;
                }
                .inputCariList:hover, .inputCariList:visited, .inputCariList:active {

                    box-shadow: none;
                    outline: none;
                    border-color: #eee;
                }
                #cariLabel {
                    position: relative;
                    width: 100%;
                }
                #cariLabel:before {
                    color: #666;
                    content:"\f002";
                    font-family: FontAwesome;
                    position: absolute;
                    margin-top: 0.6em;
                    margin-left: 2.3em;
                }
              }
            }
          }

          div.tab-Listing-Penawaran-Saya{
            div.penawaranWrapper{
              position: relative;
              width: 100%;
              margin: 0;
              margin-top: 1em;
              padding: 0;
              height: auto;
              background-color: #fff;
              div.tabs1{

                margin: 0 auto;
                padding: 0px;
                width: 100%;

                .row{
                  margin: 0 ;

                   div.tab-link1{
                     padding: 0;
                      text-align: center;
                      cursor: pointer;
                      vertical-align: middle;
                        border-bottom: 1px solid #eee;
                      .tes{
                        padding: 3px;
                        background-color: #fff;


                        p{
                          font-weight: bold;
                          cursor: pointer;
                          color: #bbb;
                          display: block;
                          margin-top: 9px;
                          text-transform: uppercase;
                          font-size: 12px;
                            span.jml{
                              display: inline-block;
                              height: 25px;
                              width: 25px;
                              line-height: 25px;
                              border-radius: 50%;
                              margin-left: 2px;
                              background-color: transparent;
                              color: #fff;
                              padding: 1px;
                            }
                            span.actip{
                              background-color: $coloridentitas1;
                            }
                        }

                      }


                    }



                   div.tab-link1.current1{

                     .tes{
                        border-bottom: 4px solid $coloridentitas1;
                        padding-bottom: 0.1px;
                     }
                     p{
                       cursor: pointer;
                       color: #111;
                       display: block;
                     }



                  }

                }
              }
              div.tab-content1{
                height: 0;
                overflow: hidden;
                position: relative;
                width: 100%;
                background: none;
                margin: 0;
                border: 1px solid transparant;

              }

              div.tab-content1.current1{
                height: auto;

              }
              .cari-filter{padding: 0.1em}
              div.list-group{
                margin: 0;
                padding: 0 1em;
                h4{
                  font-size: 0.8em;
                  font-weight: 600;
                }
                h3{
                  font-size: 0.75em;
                  font-weight: 600;
                  color:#c5c5c5;
                }


                .thumbnail{
                    margin-bottom: 0;

                    min-height: 365px;
                    max-height: 365px;

                    max-width: 100%;
                    padding: 0px;
                    border: 1px solid #eee;

                    p{
                      text-transform: capitalize;
                    }
                    .sundul{
                      z-index: 2;
                      visibility: hidden;
                      background-color: $coloridentitas2;
                      max-height: 30px;
                      width: 100%;
                      top: 0;
                      left:0;
                      position: absolute;
                      padding: 6px 0;
                      opacity: 0;

                      -webkit-transition: all 0.3s ease-in;
                      -moz-transition: all 0.3s ease-in;
                      -ms-transition: all 0.3s ease-in;
                      -o-transition: all 0.3s ease-in;
                      transition: all 0.3s ease-in;

                       .btn-sundul{
                         text-align: center;
                         display: block;
                         width: 100%;
                         height: 100%;
                         color:$coloridentitas1;
                         font-size: 11px;
                         font-weight: bold;
                         opacity: 0;
                         -webkit-transition: all 0.4s ease-in;
                         -moz-transition: all 0.4s ease-in;
                         -ms-transition: all 0.4s ease-in;
                         -o-transition: all 0.4s ease-in;
                         transition: all 0.4s ease-in;

                       }
                       .btn-sundul::before{
                         font-family: FontAwesome;
                         content: '\f0aa';
                         margin-right: 5px;
                         color: $coloridentitas1;
                         font-size: 13px;
                       }
                    }

                    .qty{
                      z-index: 2;
                      position: relative;
                      width: 100%;
                      top: auto;
                      bottom: 0;
                      padding: 1em;
                      height: 40px;
                      visibility:hidden;
                      background-color: rgba(0,0,0,0.8);
                      text-align: center;
                      padding-top: 15px;
                      -webkit-transition: all 0.3s ease-in;
                      -moz-transition: all 0.3s ease-in;
                      -ms-transition: all 0.3s ease-in;
                      -o-transition: all 0.3s ease-in;
                      transition: all 0.3s ease-in;

                      -moz-transform: translate3d(0,0,0);

                      -ms-transform: translate3d(0,0,0);

                      -o-transform: translate3d(0,0,0);

                      -webkit-transform: translate3d(0,0,0);
                      transform: translate3d(0,0,0);
                      p , a ,a::before{

                        text-align: center;
                        font-size: 11px;
                        vertical-align: top;
                      }
                      a{display: block;}
                      .btnhapus{
                        padding-left: 0;
                      }
                      p.jml{color: #fff}
                      a.ubah{color: $coloridentitas2; font-weight: bold; text-align: left;}
                      a.ubah::before{
                        font-family: FontAwesome;
                        content: "\f044";
                        margin-right: 2px;
                      }
                      a.hapus{color: #f00; font-weight: bold; text-align: left;}
                      a.hapus::before{
                        font-family: FontAwesome;
                        content: "\f00d";
                        margin-right: 2px;
                      }
                    }

                    .list-group-image{
                      z-index: 1;
                      min-height: 150px;
                      max-height: 150px;
                      min-width: 100%;
                    }


                    .Product-caption{
                      z-index: 3;
                      position: relative;
                      background-color: #fff;
                      min-height: 100px;
                      max-height: 200px;
                      margin: 0;
                      top: -40px;
                      width: 100%;
                      padding: 1em 0;
                      .product-tittle{
                        padding: 0 1em;
                        a.Ptittle{
                          font-size: 12px;
                          font-weight: bold;
                          text-transform: capitalize;
                          color: #111;
                        }
                      }

                      .product-info{
                        padding: 0 1em;
                        margin-top: 1.2em;


                      }

                      .makeitLeft{

                        text-align: left;
                        padding-left: 0.5em;
                        width: 60%
                      }
                      .makeitRight{

                        text-align: right;
                        padding-right: 0.5em;
                        width: 40%;
                      }

                      .Product-Att{

                        position: relative;
                        padding: 0 1em;

                        .product-info2{

                          .dateView{

                            p{


                              font-size: 9px;
                              color: #bdbdbd;
                              i{color: $coloridentitas2;}
                            }
                          }

                        }

                        .product-info3{

                          border-top: 1px solid #eee;

                          padding-top:0.8em;
                          .dateView{

                            p{
                              vertical-align: middle;

                              font-size: 9px;
                              color: #bdbdbd;
                              i{color: $coloridentitas2;}
                            }
                            p.Seller{
                              font-size: 10px;

                            }
                          }
                        }


                      }


                    }

                }
                .thumbnail:hover{
                  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.1);
                  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
                  box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
                }
                .thumbnail:hover .qty{

                  -webkit-transform: translate3d(0,-100%,0);
                   transform: translate3d(0,-100%,0);
                   visibility:visible;
                }
                .thumbnail:hover .sundul{
                  //max-height: 30px;
                  opacity: 1;
                  visibility: visible;
                    .btn-sundul{
                      opacity: 1;
                      -webkit-transition: all 0.4s ease-in;
                      -moz-transition: all 0.4s ease-in;
                      -ms-transition: all 0.4s ease-in;
                      -o-transition: all 0.4s ease-in;
                      transition: all 0.4s ease-in;
                    }

                }

                .ads-tab-penawaran{
                  width: 85%;
                  height: 90px;
                  margin: 0 auto;
                  margin-bottom: 1em;
                  background-color: #eee;
                  a.adsT{
                    display: block;
                    font-size: 24px;
                    text-align: center;
                    padding-top: 1em;
                  }
                }
                .item.list-group-item
                {
                    float: none;
                    width: 100%;
                    margin-right: 3px;

                    margin-bottom: 0;

                }
                .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
                {
                    background: #428bca;
                }

                .item.list-group-item .list-group-image
                {

                    margin-right: 3px;

                }
                .item.list-group-item .thumbnail
                {
                    margin-bottom: 0;
                }
                .item.list-group-item .caption
                {


                  padding: 0;
                  margin: 0;
                  width: 100%;
                }
                .item.list-group-item:nth-of-type(odd)
                {
                    background: #eeeeee;
                }

                .item.list-group-item:before, .item.list-group-item:after
                {
                    display: table;
                    content: " ";
                }

                .item.list-group-item img
                {
                    float: none;

                }
                .item.list-group-item:after
                {
                    clear: both;
                }
                .list-group-item-text
                {
                    margin: 0 0 11px;
                }

                div.paginationControll{
                  position: relative;
                  width: 100%;

                  margin: 0 0.5em;
                  margin-top: 1em;

                  padding: 0;
                  top:0;
                  left: 0;

                    .jmlProduct{
                      margin-top: -1em;
                    }

                    .paginationProduct{

                      margin-top: -1em;
                      padding-right: 0;
                      /* versi 1
                      ul.pagination{
                        float: right;
                        li{
                            display: inline;
                            margin: 0 1em;
                        }
                        li:last-child{
                          margin-right: 0;
                        }
                        li.active{
                          a{

                            font-weight: bold;
                            color: $coloridentitas1;
                          }
                        }

                        li.next{

                          a{
                            text-transform: capitalize;
                            font-weight: bold;
                            color: $coloridentitas1;
                          }

                        }

                      }
                      */
                      .prevNnext{
                        display: inline;
                        float: right;
                        a{
                          font-weight: bold;
                          color: $coloridentitas1;

                        }
                        a.prev{
                          margin-right: 1em;
                        }
                        a.prev::before{
                          color: $coloridentitas1;
                          font-family: FontAwesome;
                          content:"\f104";
                          margin-right: 5px;

                        }
                        a.next{
                          right: 0;
                        }
                        a.next::after{
                          color: $coloridentitas1;
                          font-family: FontAwesome;
                          content:"\f105";
                          margin-left: 10px;
                        }
                      }
                    }


                }


              }



              div.tab-penawaran-aktif{

                  div.list-penawaran-aktif{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

              div.tab-penawaran-nonaktif{

                  div.list-penawaran-nonaktif{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

              div.tab-penawaran-moderasi{

                  div.list-penawaran-moderasi{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

              div.tab-penawaran-ditolak{

                  div.list-penawaran-ditolak{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

            }
          }
          div.Tab-Listing-Permintaan-Saya{
            div.permintaanWrapper{

              position: relative;
              width: 100%;
              margin: 0;
              margin-top: 1em;
              padding: 0;
              height: auto;
              background-color: #fff;
              div.tabs1{

                margin: 0 auto;
                padding: 0px;
                width: 100%;

                .row{
                  margin: 0 ;

                   div.tab-link1{
                     padding: 0;
                      text-align: center;
                      cursor: pointer;
                      vertical-align: middle;
                        border-bottom: 1px solid #eee;
                      .tes{
                        padding: 3px;
                        background-color: #fff;


                        p{
                          font-weight: bold;
                          cursor: pointer;
                          color: #bbb;
                          display: block;
                          margin-top: 9px;
                          text-transform: uppercase;
                          font-size: 12px;
                            span.jml{
                              display: inline-block;
                              height: 25px;
                              width: 25px;
                              line-height: 25px;
                              border-radius: 50%;
                              margin-left: 2px;
                              background-color: transparent;
                              color: #fff;
                              padding: 1px;
                            }
                            span.actip{
                              background-color: $coloridentitas1;
                            }
                        }

                      }


                    }



                   div.tab-link1.current1{

                     .tes{
                        border-bottom: 4px solid $coloridentitas1;
                        padding-bottom: 0.1px;
                     }
                     p{
                       cursor: pointer;
                       color: #111;
                       display: block;
                     }



                  }

                }
              }
              div.tab-content1{
              height: 0;
              overflow: hidden;
              position: relative;
              width: 100%;
              background: none;
              margin: 0;
              border: 1px solid transparant;

              }

              div.tab-content1.current1{
              height: auto;

              }
              .cari-filter{padding: 0.1em}
              div.list-group{
                margin: 0;
                padding: 0 1em;
                h4{
                  font-size: 0.8em;
                  font-weight: 600;
                }
                h3{
                  font-size: 0.75em;
                  font-weight: 600;
                  color:#c5c5c5;
                }


                .thumbnail{
                    margin-bottom: 0;

                    min-height: 365px;
                    max-height: 365px;

                    max-width: 100%;
                    padding: 0px;
                    border: 1px solid #eee;

                    p{
                      text-transform: capitalize;
                    }
                    .sundul{
                      z-index: 2;
                      visibility: hidden;
                      background-color: $coloridentitas2;
                      max-height: 30px;
                      width: 100%;
                      top: 0;
                      left:0;
                      position: absolute;
                      padding: 6px 0;
                      opacity: 0;

                      -webkit-transition: all 0.3s ease-in;
                      -moz-transition: all 0.3s ease-in;
                      -ms-transition: all 0.3s ease-in;
                      -o-transition: all 0.3s ease-in;
                      transition: all 0.3s ease-in;

                       .btn-sundul{
                         text-align: center;
                         display: block;
                         width: 100%;
                         height: 100%;
                         color:$coloridentitas1;
                         font-size: 11px;
                         font-weight: bold;
                         opacity: 0;
                         -webkit-transition: all 0.4s ease-in;
                         -moz-transition: all 0.4s ease-in;
                         -ms-transition: all 0.4s ease-in;
                         -o-transition: all 0.4s ease-in;
                         transition: all 0.4s ease-in;

                       }
                       .btn-sundul::before{
                         font-family: FontAwesome;
                         content: '\f0aa';
                         margin-right: 5px;
                         color: $coloridentitas1;
                         font-size: 13px;
                       }
                    }

                    .qty{
                      z-index: 2;
                      position: relative;
                      width: 100%;
                      top: auto;
                      bottom: 0;
                      padding: 1em;
                      height: 40px;
                      visibility:hidden;
                      background-color: rgba(0,0,0,0.8);
                      text-align: center;
                      padding-top: 15px;
                      -webkit-transition: all 0.3s ease-in;
                      -moz-transition: all 0.3s ease-in;
                      -ms-transition: all 0.3s ease-in;
                      -o-transition: all 0.3s ease-in;
                      transition: all 0.3s ease-in;

                      -moz-transform: translate3d(0,0,0);

                      -ms-transform: translate3d(0,0,0);

                      -o-transform: translate3d(0,0,0);

                      -webkit-transform: translate3d(0,0,0);
                      transform: translate3d(0,0,0);
                      p , a ,a::before{

                        text-align: center;
                        font-size: 11px;
                        vertical-align: top;
                      }
                      a{display: block;}
                      .btnhapus{
                        padding-left: 0;
                      }
                      p.jml{color: #fff}
                      a.ubah{color: $coloridentitas2; font-weight: bold; text-align: left;}
                      a.ubah::before{
                        font-family: FontAwesome;
                        content: "\f044";
                        margin-right: 2px;
                      }
                      a.hapus{color: #f00; font-weight: bold; text-align: left;}
                      a.hapus::before{
                        font-family: FontAwesome;
                        content: "\f00d";
                        margin-right: 2px;
                      }
                    }

                    .list-group-image{
                      z-index: 1;
                      min-height: 150px;
                      max-height: 150px;
                      min-width: 100%;
                    }


                    .Product-caption{
                      z-index: 3;
                      position: relative;
                      background-color: #fff;
                      min-height: 100px;
                      max-height: 200px;
                      margin: 0;
                      top: -40px;
                      width: 100%;
                      padding: 1em 0;
                      .product-tittle{
                        padding: 0 1em;
                        a.Ptittle{
                          font-size: 12px;
                          font-weight: bold;
                          text-transform: capitalize;
                          color: #111;
                        }
                      }

                      .product-info{
                        padding: 0 1em;
                        margin-top: 1.2em;


                      }

                      .makeitLeft{

                        text-align: left;
                        padding-left: 0.5em;
                        width: 60%
                      }
                      .makeitRight{

                        text-align: right;
                        padding-right: 0.5em;
                        width: 40%;
                      }

                      .Product-Att{

                        position: relative;
                        padding: 0 1em;

                        .product-info2{

                          .dateView{

                            p{


                              font-size: 9px;
                              color: #bdbdbd;
                              i{color: $coloridentitas2;}
                            }
                          }

                        }

                        .product-info3{

                          border-top: 1px solid #eee;

                          .dateView{

                            p{
                              vertical-align: middle;

                              font-size: 9px;
                              color: #bdbdbd;
                              i{color: $coloridentitas2;}
                            }
                            p.Seller{
                              font-size: 10px;

                            }
                          }
                        }


                      }


                    }

                }
                .thumbnail:hover{
                  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.1);
                  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
                  box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
                }
                .thumbnail:hover .qty{

                  -webkit-transform: translate3d(0,-100%,0);
                   transform: translate3d(0,-100%,0);
                   visibility:visible;
                }
                .thumbnail:hover .sundul{
                  //max-height: 30px;
                  opacity: 1;
                  visibility: visible;
                    .btn-sundul{
                      opacity: 1;
                      -webkit-transition: all 0.4s ease-in;
                      -moz-transition: all 0.4s ease-in;
                      -ms-transition: all 0.4s ease-in;
                      -o-transition: all 0.4s ease-in;
                      transition: all 0.4s ease-in;
                    }

                }


                .ads-tab-penawaran{
                  width: 85%;
                  height: 90px;
                  margin: 0 auto;
                  margin-bottom: 1em;
                  background-color: #eee;
                  a.adsT{
                    display: block;
                    font-size: 24px;
                    text-align: center;
                    padding-top: 1em;
                  }
                }
                .item.list-group-item
                {
                    float: none;
                    width: 100%;
                    margin-right: 3px;

                    margin-bottom: 0;

                }
                .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
                {
                    background: #428bca;
                }

                .item.list-group-item .list-group-image
                {

                    margin-right: 3px;

                }
                .item.list-group-item .thumbnail
                {
                    margin-bottom: 0;
                }
                .item.list-group-item .caption
                {


                  padding: 0;
                  margin: 0;
                  width: 100%;
                }
                .item.list-group-item:nth-of-type(odd)
                {
                    background: #eeeeee;
                }

                .item.list-group-item:before, .item.list-group-item:after
                {
                    display: table;
                    content: " ";
                }

                .item.list-group-item img
                {
                    float: none;

                }
                .item.list-group-item:after
                {
                    clear: both;
                }
                .list-group-item-text
                {
                    margin: 0 0 11px;
                }

                div.paginationControll{
                  position: relative;
                  width: 100%;

                  margin: 0 0.5em;
                  margin-top: 1em;

                  padding: 0;
                  top:0;
                  left: 0;

                    .jmlProduct{
                      margin-top: -1em;
                    }

                    .paginationProduct{

                      margin-top: -1em;
                      padding-right: 0;
                      /* versi 1
                      ul.pagination{
                        float: right;
                        li{
                            display: inline;
                            margin: 0 1em;
                        }
                        li:last-child{
                          margin-right: 0;
                        }
                        li.active{
                          a{

                            font-weight: bold;
                            color: $coloridentitas1;
                          }
                        }

                        li.next{

                          a{
                            text-transform: capitalize;
                            font-weight: bold;
                            color: $coloridentitas1;
                          }

                        }

                      }
                      */
                      .prevNnext{
                        display: inline;
                        float: right;
                        a{
                          font-weight: bold;
                          color: $coloridentitas1;

                        }
                        a.prev{
                          margin-right: 1em;
                        }
                        a.prev::before{
                          color: $coloridentitas1;
                          font-family: FontAwesome;
                          content:"\f104";
                          margin-right: 5px;

                        }
                        a.next{
                          right: 0;
                        }
                        a.next::after{
                          color: $coloridentitas1;
                          font-family: FontAwesome;
                          content:"\f105";
                          margin-left: 10px;
                        }
                      }
                    }


                }


              }

              div.tab-permintaan-aktif{

                  div.list-permintaan-aktif{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

              div.tab-permintaan-nonaktif{

                  div.list-permintaan-nonaktif{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

              div.tab-permintaan-moderasi{

                  div.list-permintaan-moderasi{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

              div.tab-permintaan-ditolak{

                  div.list-permintaan-ditolak{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: #fff;

                  }
              }

            }
          }



    }
  }





}
