
.SubmitPenawaranWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 25em;
  height: auto;


}

.SubmitPermintaanWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 25em;
  height: auto;

}


.SubmitPenawaranContent{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;

  .sidebar{
    padding-right: 0;
    .sidebarMenu{
      position: relative;
      margin: 0;
      padding: 0;
      padding-bottom: 1em;
      width: 100%;
      background-color: #fff;
      .transition,ul.listMenu li.limenu ul.submenu {
        transition: all 0.2s ease-in-out;
      }
          .flipIn, h1, ul li {
          animation: flipdown 0.5s ease both;
          }
          .no-select, a {
          -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          }
            ul.listMenu {

              li.limenu {
                position: relative;
                padding: 10px 1em;
                margin: 0;
                border-top: 1px solid #eee;
                a.btnmenu {
                  color: $coloridentitas1;
                  text-transform: capitalize;
                  font-size: 12px;
                  line-height: 20px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  display: block;
                  background-color: #fff;
                  margin: 0;
                  cursor: pointer;
                }
                a.btnmenu:hover{
                  opacity: 1;
                }
                table.profile{
                  width: 100%;
                  td.pLeft{
                    width: 25%;
                  }
                  td.pRight{
                    width: 85%;
                  }
                  td.profile-picture{
                    a.picture{
                      img{
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                      }
                    }
                  }
                  td.name{
                    padding-top: 15px;
                    a{
                      font-weight: bold;
                      color: $coloridentitas1;
                    }
                  }
                  td.memberSince{
                    p{
                      font-size: 12px;
                      opacity: 0.6;
                    }
                  }
                }
                ul.submenu{
                  position: relative;
                  overflow: hidden;
                  opacity: 1;
                  margin-top: 1em;
                  margin-left: 1em;
                  transform: translate(0, 0);
                  z-index: 2;
                  li{
                    a.linkMenu{
                      text-transform: capitalize;
                      display: block;
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      font-weight: normal;

                    }
                  }
                }
              }
              li.limenu:nth-of-type(1) {
                border-top: none;
                animation-delay: 0.2s;
              }
              li.limenu:nth-of-type(2) {
                animation-delay: 0.3s;
              }
              li.limenu:nth-of-type(3) {
                animation-delay: 0.5s;
              }
              li.limenu:last-of-type {
                padding-bottom: 0;
              }
            }
            ul li.limenu i {
              position: absolute;
              margin-top: 5px;
              right: 10px;
              color: $coloridentitas1;
            }
            ul li.limenu i::after {
              font-family: FontAwesome;
              content: "\f056";
            }
            ul li.limenu input[type=checkbox] {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: 0;
            }
            ul li.limenu input[type=checkbox]:checked ~ ul.submenu {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
            }
            ul li.limenu input[type=checkbox]:checked ~ i::after {
              content: "\f055";
            }

    }
  }
  .submitPenawaranWrap{
    position: relative;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    height: auto;
    background-color: #fff;
      div.tittlePenawaran{
        margin: 0;
        position: relative;
        padding: 0 1em;
        h1.tittle{
          margin-top: 0;

           text-transform: capitalize;
           font-size: 24px;
           font-weight: bold;
        }

      }
    form{
      div.pictureBox{
        position: relative;
        margin:0;
        margin-bottom: 1em;
        padding: 0 1em;
        width: 100%;
        .dropzone .dz-message{
          display: none;
        }
          .dragNdrop{
            position: relative;
            margin: 0;
            width: 100%;
            height: 130px;
            cursor: pointer;
            border: 1px solid #eee;
            border-radius: 3px;
            background: url("../img/nullimg.jpg") 50% 50%;
              img.uploudImg{
                position: relative;
                width: 100%;
                min-height:100%;
                border-radius: 3px;
              }
              div.popUpDelete{
                z-index: 2;
                position: relative;
                top:auto;
                bottom: 0;
                height: 0;
                text-align: center;
                padding-top: 5px;
                //visibility: hidden;
                background-color: rgba(0,0,0,0.8);
                text-align: center;

                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;

                -moz-transform: translate3d(0,-100%,0);
                -ms-transform: translate3d(0,-100%,0);
                -o-transform: translate3d(0,-100%,0);
                -webkit-transform: translate3d(0,-100%,0);
                 transform: translate3d(0,-100%,0);

                a{
                  display: block;
                  color: #fff;
                }
              }
          }
          .adaImg:hover .popUpDelete{
            height: 30px;
          }
      }
      div.dataPenawaran{
        position: relative;
        margin:0;
        margin-bottom: 1em;
        padding: 0;
        width: 100%;


            label{
              font-size: 12px;
            }
            .ac-custom {
              padding: 0;
              width: 100%;
              margin: 0;
              label {
                display: inline-block;
                position: relative;

                font-size: 12px;
                padding: 0 0 0 20px;
                vertical-align: middle;
                color: rgba(0,0,0,0.2);
                cursor: pointer;
                -webkit-transition: color 0.3s;
                transition: color 0.3s;
              }


              input[type="checkbox"],
              input[type="radio"],
              label::before {
                width: 15px;
                height: 15px;
                top: 0;
                left: 0;
                margin-top: 0px;
                border-radius: 2px;
                position: absolute;
                cursor: pointer;
              }

              input[type="checkbox"],
              input[type="radio"] {
                opacity: 0;
                -webkit-appearance: none;
                display: inline-block;
                vertical-align: top;
                z-index: 100;
              }


              input[type="checkbox"]:checked + label,
              input[type="radio"]:checked + label{
                color: #111;
              }



              input[type="checkbox"]:checked + label::before,
              input[type="radio"]:checked + label::before{
                opacity: 0.8;
              }


              svg {
                position: absolute;
                width: 17px;
                height: 16px;
                top: -2px;

                left: 16px;
                pointer-events: none;
              }
              svg path {

                stroke-width: 13px;
                stroke-linecap: round;
                stroke-linejoin: round;
                fill: none;
              }




              div.lastChild{
                text-align: right;

                 svg {
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  top: 0;

                  left: 118px;
                  pointer-events: none;
                }
              }
            }
            .ac-radio label::before {
              border-radius: 50%;

            }
            /* Circle */
            .ac-circle input[type="checkbox"],
            .ac-circle input[type="radio"],
            .ac-circle label::before {
              width: 15px;
              height: 15px;

              margin-top: -5px;
              left: 10px;
              position: absolute;
            }

            .ac-circle label::before {
              background-color: #fff;
              border: none;
            }

            .ac-circle svg {
              width: 15px;
              height: 15px;
              margin-top: -10px;
              left: -10px;
            }

            .ac-circle svg path {
              stroke-width: 5px;
            }
            .JudulPenawaran{
              position: relative;
              width: 100%;
              margin: 0.5em 0;
              padding: 0 1em;
            }
            .sektorKetegori{
              position: relative;
              width: 100%;
              margin: 0;
              padding: 0 1em;

            }
            .namaItem,.kategoriItem{
              position: relative;
              width: 100%;
              margin: 0;
              padding: 0 1em;

            }
            .asalProduk{
              position: relative;
              width: 100%;
              margin: 0;
              padding: 0 1em;

                .lokasi{
                  padding-left: 0;
                }
                .selectKabKota{
                  padding-left: 0;

                  margin-top: 4px;
                }
            }
            .kap{
              position: relative;
              width: 100%;
              margin: 0.5em 0;
              padding: 0 1em;
                .kapabilitasSupply{
                  width: 100%;
                  position: relative;
                  margin: 0;
                  padding: 0;
                  min-height: 20px;
                    .pUnitBox{
                      padding-left: 0;
                      .selectBoxDefault{
                        .pilihUnit{
                          margin-top: 5px;
                        }
                      }
                    }

                }
                .jangkaWaktu{
                  width: 100%;
                  position: relative;
                  margin: 0;
                  padding: 0;
                    .waktuBox{
                      padding-left: 0;
                    }
                    .pJangkaBox{
                      padding-left: 0;
                      .selectBoxDefault{
                        .KurunWaktu{
                          margin-top: 5px;
                        }
                      }

                    }
                }
            }

            .kualitas, .kemasan, .deskripsiPenawaran{
              position: relative;
              width: 100%;
              margin: 0.5em 0;
              padding: 0 1em;
            }
            .DetailKontak{
              position: relative;
              width: 100%;
              margin: 1em 0;
              border-top: 1px solid #eee;
                .tittleKontak{
                  position: relative;
                  padding: 0 1em;
                  h2.tittle{
                    font-size: 18px;
                    font-weight: bold;
                  }
                  .checkOption{
                    position: relative;
                    width: 100%;
                    margin: 1em 0;
                    .Sama{
                      .ac-checkbox{
                        label{
                          font-size: 12px;
                          font-weight: normal;
                        }
                        svg {
                          position: absolute;
                          width: 17px;
                          height: 16px;
                          top: -3px;

                          left: 16px;
                          pointer-events: none;
                        }
                        svg path {

                          stroke-width: 13px;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          fill: none;
                        }

                      }
                    }
                    .JanganTampilkan{
                      .ac-checkbox{
                        label{
                          font-size: 12px;
                          font-weight: normal;
                        }
                        svg {
                          position: absolute;
                          width: 17px;
                          height: 16px;
                          top: -3px;

                          left: 16px;
                          pointer-events: none;
                        }
                        svg path {

                          stroke-width: 13px;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          fill: none;
                        }

                      }
                    }
                  }

                }
                .dataKontak{
                  margin: 1em 0;
                  padding: 0 1em;
                  position: relative;
                  width: 100%;
                }
            }

            .KontakLainnya{
              position: relative;
              width: 100%;
              margin: 1em 0;
              border-top: 1px solid #eee;
                .tittleKontak{
                  position: relative;
                  padding: 0 1em;
                  h3.tittle{
                    font-size: 14px;
                    font-weight: bold;
                  }
                }
                .dataKontak{
                  margin: 1em 0;
                  padding: 0 1em;
                  position: relative;
                  width: 100%;
                }
            }
            .btnSubmit{
              width: 100%;
              position: relative;
              margin: 1em 0;
              padding: 0 1em;
              .ajukan-col{padding-left: 5px;}
              .draft-col{padding-right: 5px;}
              button.btn-cool{

                text-align: center;
                width: 100%;
                margin: 0;
                padding: 1em 0;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
              }
              button.btn-draft{
                background-color: transparent;
                border: 1px solid $coloridentitas1;
                padding: 0.9em 0;
              }

            }




      }
    }
  }

}




.SubmitPermintaanContent{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;

  .sidebar{

    .sidebarMenu{
      position: relative;
      margin: 0;
      padding: 0;
      padding-bottom: 1em;
      width: 100%;
      background-color: #fff;
      .transition,ul.listMenu li.limenu ul.submenu {
        transition: all 0.2s ease-in-out;
      }
          .flipIn, h1, ul li {
          animation: flipdown 0.5s ease both;
          }
          .no-select, a {
          -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          }
            ul.listMenu {

              li.limenu {
                position: relative;
                padding: 10px 1em;
                margin: 0;
                border-top: 1px solid #eee;
                a.btnmenu {
                  color: $coloridentitas1;
                  text-transform: capitalize;
                  font-size: 12px;
                  line-height: 20px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  display: block;
                  background-color: #fff;
                  margin: 0;
                  cursor: pointer;
                }
                a.btnmenu:hover{
                  opacity: 1;
                }
                table.profile{
                  width: 100%;
                  td.pLeft{
                    width: 25%;
                  }
                  td.pRight{
                    width: 85%;
                  }
                  td.profile-picture{
                    a.picture{
                      img{
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                      }
                    }
                  }
                  td.name{
                    padding-top: 15px;
                    a{
                      font-weight: bold;
                      color: $coloridentitas1;
                    }
                  }
                  td.memberSince{
                    p{
                      font-size: 12px;
                      opacity: 0.6;
                    }
                  }
                }
                ul.submenu{
                  position: relative;
                  overflow: hidden;
                  opacity: 1;
                  margin-top: 1em;
                  margin-left: 1em;
                  transform: translate(0, 0);
                  z-index: 2;
                  li{
                    a.linkMenu{
                      text-transform: capitalize;
                      display: block;
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      font-weight: normal;

                    }
                  }
                }
              }
              li.limenu:nth-of-type(1) {
                border-top: none;
                animation-delay: 0.2s;
              }
              li.limenu:nth-of-type(2) {
                animation-delay: 0.3s;
              }
              li.limenu:nth-of-type(3) {
                animation-delay: 0.5s;
              }
              li.limenu:last-of-type {
                padding-bottom: 0;
              }
            }
            ul li.limenu i {
              position: absolute;
              margin-top: 5px;
              right: 10px;
              color: $coloridentitas1;
            }
            ul li.limenu i::after {
              font-family: FontAwesome;
              content: "\f056";
            }
            ul li.limenu input[type=checkbox] {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: 0;
            }
            ul li.limenu input[type=checkbox]:checked ~ ul.submenu {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
            }
            ul li.limenu input[type=checkbox]:checked ~ i::after {
              content: "\f055";
            }

    }
  }
  .submitPermintaan{

  .submitPermintaanWrap{
    position: relative;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    height: auto;
    background-color: #fff;
      div.tittlePermintaan{
        margin: 0;
        position: relative;
        padding: 0 1em;
        h1.tittle{
          margin-top: 0;

           text-transform: capitalize;
           font-size: 24px;
           font-weight: bold;
        }

      }
    form{
      margin: 0;
      width: 100%;
      div.pictureBox{
        position: relative;
        margin:0;
        margin-bottom: 1em;
        padding: 0 1em;
        width: 100%;
        .dropzone .dz-message{
          display: none;
        }
          .dragNdrop{
            position: relative;
            margin: 0;
            width: 100%;
            height: 130px;
            cursor: pointer;
            border: 1px solid #eee;
            border-radius: 3px;
            background: url("../img/nullimg.jpg") 50% 50%;
              img.uploudImg{
                position: relative;
                width: 100%;
                min-height:100%;
                border-radius: 3px;
              }
              div.popUpDelete{
                z-index: 2;
                position: relative;
                top:auto;
                bottom: 0;
                height: 0;
                text-align: center;
                padding-top: 5px;
                //visibility: hidden;
                background-color: rgba(0,0,0,0.8);
                text-align: center;

                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;

                -moz-transform: translate3d(0,-100%,0);
                -ms-transform: translate3d(0,-100%,0);
                -o-transform: translate3d(0,-100%,0);
                -webkit-transform: translate3d(0,-100%,0);
                 transform: translate3d(0,-100%,0);

                a{
                  display: block;
                  color: #fff;
                }
              }
          }
          .adaImg:hover .popUpDelete{
            height: 30px;
          }
      }
      div.dataPermintaan{
        position: relative;
        margin:0;
        margin-bottom: 1em;
        padding: 0;
        width: 100%;


            label{
              font-size: 12px;
            }
            .ac-custom {
              padding: 0;
              width: 100%;
              margin: 0;
              label {
                display: inline-block;
                position: relative;

                font-size: 12px;
                padding: 0 0 0 20px;
                vertical-align: middle;
                color: rgba(0,0,0,0.2);
                cursor: pointer;
                -webkit-transition: color 0.3s;
                transition: color 0.3s;
              }


              input[type="checkbox"],
              input[type="radio"],
              label::before {
                width: 15px;
                height: 15px;
                top: 0;
                left: 0;
                margin-top: 0px;
                border-radius: 2px;
                position: absolute;
                cursor: pointer;
              }

              input[type="checkbox"],
              input[type="radio"] {
                opacity: 0;
                -webkit-appearance: none;
                display: inline-block;
                vertical-align: top;
                z-index: 100;
              }


              input[type="checkbox"]:checked + label,
              input[type="radio"]:checked + label{
                color: #111;
              }



              input[type="checkbox"]:checked + label::before,
              input[type="radio"]:checked + label::before{
                opacity: 0.8;
              }


              svg {
                position: absolute;
                width: 17px;
                height: 16px;
                top: -2px;

                left: 16px;
                pointer-events: none;
              }
              svg path {

                stroke-width: 13px;
                stroke-linecap: round;
                stroke-linejoin: round;
                fill: none;
              }




              div.lastChild{
                text-align: right;

                 svg {
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  top: 0;

                  left: 118px;
                  pointer-events: none;
                }
              }
            }
            .ac-radio label::before {
              border-radius: 50%;

            }
            /* Circle */
            .ac-circle input[type="checkbox"],
            .ac-circle input[type="radio"],
            .ac-circle label::before {
              width: 15px;
              height: 15px;

              margin-top: -5px;
              left: 10px;
              position: absolute;
            }

            .ac-circle label::before {
              background-color: #fff;
              border: none;
            }

            .ac-circle svg {
              width: 15px;
              height: 15px;
              margin-top: -10px;
              left: -10px;
            }

            .ac-circle svg path {
              stroke-width: 5px;
            }
            .JudulPermintaan{

              padding: 0 1em;
            }
            .sektorKetegori{
              width: 100%;
              margin: 0;
              padding: 0 1em;
                .sektor{
                  padding-left: 0;
                }
                .kategori{
                  padding-right: 0;
                }
            }
            .namaItem{
              padding: 0 1em;
            }
            .berlakuProduk{
              width: 100%;
              margin: 0;
              padding: 0 1em;
                .berlakubox{
                  position: relative;
                  width: 100%;
                  padding: 0;
                    div.input-group{
                      span.input-group-addon{
                        box-shadow: none;
                        outline: none;
                        border-color: #eee;
                        background-color: $mainbg;
                        border-radius: 3;
                      }
                    }
                  .tanggal{
                    padding-left: 0;

                  }
                  .bulan{
                    padding-left: 0;
                  }
                  .tahun{
                    padding-left: 0;
                    padding-right: 0;

                  }
                }

            }
            .kebutuhanSupply{
              position: relative;
              width: 100%;
              margin: 0;
              padding: 0 1em;
              .butuhSupply{
                width: 100%;
                position: relative;
                margin: 0;
                padding: 0;
                min-height: 20px;
                  .pUnitBox{
                    padding-left: 0;
                    .selectBoxDefault{
                      .pilihUnit{
                        margin-top: 5px;
                      }
                    }
                  }

              }
              .jangkaWaktu{
                width: 100%;
                position: relative;
                margin: 0;
                padding: 0;
                  .waktuBox{
                    padding-left: 0;
                  }
                  .pJangkaBox{
                    padding-left: 0;
                    .selectBoxDefault{
                      .KurunWaktu{
                        margin-top: 5px;
                      }
                    }

                  }
              }
            }
            .kualitas, .kemasan, .deskripsiPermintaan{
              padding: 0 1em;
            }
            .DetailKontak{
              margin: 1em 0;
              width: 100%;
              border-top: 1px solid #eee;
                .tittleKontak{
                  position: relative;
                  padding: 0 1em;
                  h2.tittle{
                    font-size: 18px;
                    font-weight: bold;
                  }
                  .checkOption{
                    position: relative;
                    width: 100%;
                    margin: 1em 0;
                    .Sama{
                      .ac-checkbox{
                        label{
                          font-size: 12px;
                          font-weight: normal;
                        }
                        svg {
                          position: absolute;
                          width: 17px;
                          height: 16px;
                          top: -3px;

                          left: 16px;
                          pointer-events: none;
                        }
                        svg path {

                          stroke-width: 13px;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          fill: none;
                        }

                      }
                    }
                    .JanganTampilkan{
                      .ac-checkbox{
                        label{
                          font-size: 12px;
                          font-weight: normal;
                        }
                        svg {
                          position: absolute;
                          width: 17px;
                          height: 16px;
                          top: -3px;

                          left: 16px;
                          pointer-events: none;
                        }
                        svg path {

                          stroke-width: 13px;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          fill: none;
                        }

                      }
                    }
                  }

                }
                .dataKontak{
                  margin: 1em 0;
                  padding: 0 1em;
                  position: relative;
                  width: 100%;
                }
            }

            .KontakLainnya{
              margin: 1em 0;
              width: 100%;
              border-top: 1px solid #eee;
                .tittleKontak{
                  position: relative;
                  padding: 0 1em;
                  h3.tittle{
                    font-size: 14px;
                    font-weight: bold;
                  }
                }
                .dataKontak{
                  margin: 1em 0;
                  padding: 0 1em;
                  position: relative;
                  width: 100%;
                }
            }
            .btnSubmit{
              width: 100%;
              position: relative;
              margin: 1em 0;
              padding: 0 1em;
              .ajukan-col{padding-left: 5px;}
              .draft-col{padding-right: 5px;}
              button.btn-cool{

                text-align: center;
                width: 100%;
                margin: 0;
                padding: 1em 0;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
              }
              button.btn-draft{
                background-color: transparent;
                border: 1px solid $coloridentitas1;
                padding: 0.9em 0;
              }

            }




      }
    }
  }
  }
}
