.tipsPage{
	background-color: #fff;
	padding: 1.5em;
	.titt{
		font-size:28px;
		font-weight: bold;
		color:#000;
	}
	.ttps{
		font-size:14px;
		color:#000;
		margin-bottom:2em;
		.subTitt{
			font-size:16px;
			font-weight:bold;
			color:#000;
			
		}
	}
}