/*Custom 5 column.butuh bootstrap bro minimal versi 3 ++*/

.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th {

    position: relative;
    min-height: 1px;
    padding: 0 0.5em;

}

.col-xs-5th:first-child,
.col-sm-5th:first-child,
.col-md-5th:first-child,
.col-lg-5th:first-child {


    padding-left: 1em;

}

.col-xs-5th:last-child,
.col-sm-5th:last-child,
.col-md-5th:last-child,
.col-lg-5th:last-child {


    padding-right: 1em;

}

.col-xs-5th {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5th {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5th {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5th {
        width: 20%;
        float: left;
    }
}

/*10 column custom*/

/*Custom 5 column.butuh bootstrap bro minimal versi 3 ++*/

.col-xs-10th,
.col-sm-10th,
.col-md-10th,
.col-lg-10th {

    position: relative;
    min-height: 1px;
    padding: 0 0.5em;

}

.col-xs-10th:first-child,
.col-sm-10th:first-child,
.col-md-10th:first-child,
.col-lg-10th:first-child {


    padding-left: 1em;

}

.col-xs-10th:last-child,
.col-sm-10th:last-child,
.col-md-10th:last-child,
.col-lg-10th:last-child {


    padding-right: 1em;

}

.col-xs-10th {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-10th {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-10th {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-10th {
        width: 10%;
        float: left;
    }
}
