/**thumbnail**/
.item{
  .thumbnail{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    img.list-group-image{
      min-height: 340px;
      min-width: 100%;
      max-height: 340px;

    }
    .host{
      width: 100%;
      position: relative;
        img.hostImg{
          position: absolute;
          border-radius: 50%;
          width: 70px;
          height: 70px;
          z-index: 3;
          top:-3em;
          left: 1em;
        }
        p.hostName{
          margin-left: 6em;
          margin-top: 0.5em;
          font-size: 16px;
          font-weight: 500;
        }
    }
    .caption{
      .list-group-item-heading{
        font-size: 24px;
        font-weight: bold;
        color: $coloridentitas1;
      }
    }
  }
}


.item.list-group-item{
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
      .list-group-image{
          margin-right: 10px;
        }
      .thumbnail{
        margin-bottom: 0px;
      }
      .caption{
        padding: 9px 9px 0px 9px;
      }
      img.list-group-image{
        float: left;
      }
}


.item.list-group-item:nth-of-type(odd){
  background: #fff;
}

.item.list-group-item:before, .item.list-group-item:after{
  display: table;
  content: " ";
}
.item.list-group-item:after{
  clear: both;
}
.list-group-item-text{
  line-height: 10px;
  font-size: 14px;
  margin: 0 0 11px;
}
.lead{
  font-size: 18px;
  line-height: 28px;
  color: $coloridentitas1;
  font-weight: bold;
}
.rat{
  position: relative;
  float: right;
    p.jml{
      font-size: 12px;
      margin-left: 5px;
      line-height: 10px;
    }
}
.pad-1{padding-right: 0}
.pad-3{padding-left: 0}
/**thumbnail end**/
