/*tab menu section*/
    div.tabs{

      margin: 0 auto;
      padding: 0px;
      width: 100%;

      .row{
        margin: 0 ;

         div.tab-link{
           padding: 0;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
            .tes{
              padding: 3px;
              background-color: #fff;
              p{
                font-weight: bold;
                cursor: pointer;
                color: #bbb;
                display: block;
                margin-top: 9px;
                text-transform: uppercase;
              }
              -webkit-transition: all 0.4s ease-in;
              -moz-transition: all 0.4s ease-in;
              -ms-transition: all 0.4s ease-in;
              -o-transition: all 0.4s ease-in;
              transition: all 0.4s ease-in;
            }


          }
          div.tab-link:last-child{
            padding-left: 1em;
          }

         div.tab-link.current{

           .tes{
              background-color: $coloridentitas2;
              -webkit-transition: all 0.4s ease-in;
              -moz-transition: all 0.4s ease-in;
              -ms-transition: all 0.4s ease-in;
              -o-transition: all 0.4s ease-in;
              transition: all 0.4s ease-in;
           }
           p{
             cursor: pointer;
             color: #111;
             display: block;
           }


        }

      }
    }

    div.tab-content{
      height: 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      background: none;
      margin: 0;

      border: 1px solid transparant;


    }

    div.tab-content.current{
      height: auto;

    }

    div.tabs1{
      position: relative;
      margin: 0 auto;
      width: 100%;

      .row{
        margin: 0 ;

         div.tab-link1{
           padding: 0;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;

            background-color: #fafafa;
            .tes{
              position: relative;
              width: 100%;
              padding: 1em 0;
              p{
                font-weight: bold;
                cursor: pointer;
                color: #bdbdbd;
                display: block;
                line-height: 30px;
                margin-top: 5px;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                  span.jml{
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    margin-left: 2px;
                    background-color: transparent;
                    color: #fff;
                    padding: 1px;
                  }
                  span.active{
                    background-color: $coloridentitas1;
                  }
              }

            }
            -webkit-transition: all 0.4s ease-in;
            -moz-transition: all 0.4s ease-in;
            -ms-transition: all 0.4s ease-in;
            -o-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;


          }



         div.tab-link1.current1{
          background-color: #fff;


           .tes{
            border-bottom: 2px solid #fafafa;
             padding-bottom: 0.9em;
           }
           p{
             cursor: pointer;
             color: $coloridentitas1;
             display: block;
           }
           -webkit-transition: all 0.4s ease-in;
           -moz-transition: all 0.4s ease-in;
           -ms-transition: all 0.4s ease-in;
           -o-transition: all 0.4s ease-in;
           transition: all 0.4s ease-in;



        }

      }
    }
    div.tab-content1{
      height: 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      background: none;
      margin: 0;
      border: 1px solid transparant;

    }

    div.tab-content1.current1{
      height: auto;

    }

    div.tabs2{
      position: relative;
      margin: 0 auto;
      width: 100%;

      .row{
        margin: 0 ;

         div.tab-link2{
           padding: 0;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;

            background-color: #fafafa;
            .tes{
              position: relative;
              width: 100%;
              padding: 1em 0;
              p{
                font-weight: bold;
                cursor: pointer;
                color: #bdbdbd;
                display: block;
                line-height: 30px;
                margin-top: 5px;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                  span.jml{
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    margin-left: 2px;
                    background-color: transparent;
                    color: #fff;
                    padding: 1px;
                  }
                  span.active{
                    background-color: $coloridentitas1;
                  }
              }

            }
            -webkit-transition: all 0.4s ease-in;
            -moz-transition: all 0.4s ease-in;
            -ms-transition: all 0.4s ease-in;
            -o-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;


          }



         div.tab-link2.current2{
          background-color: #fff;


           .tes{
            border-bottom: 2px solid #fafafa;
             padding-bottom: 0.9em;
           }
           p{
             cursor: pointer;
             color: $coloridentitas1;
             display: block;
           }
           -webkit-transition: all 0.4s ease-in;
           -moz-transition: all 0.4s ease-in;
           -ms-transition: all 0.4s ease-in;
           -o-transition: all 0.4s ease-in;
           transition: all 0.4s ease-in;



        }

      }
    }
    div.tab-content2{
      height: 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      background: none;
      margin: 0;
      border: 1px solid transparant;

    }

    div.tab-content2.current2{
      height: auto;

    }
