/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
  .memberWrapper{
    padding-top: 4em;
    padding-bottom: 8em;
    .memberContent .member .member-wrap div.tabs .row div.tab-link .tes p{
      font-size: 12px;
    }
    .memberContent .member .member-wrap div.tab-Listing-Penawaran-Saya div.penawaranWrapper div.list-group .thumbnail,
    .memberContent .member .member-wrap div.Tab-Listing-Permintaan-Saya div.permintaanWrapper div.list-group .thumbnail{
      margin-bottom: 2.5em;
    }
  }
}

@media only screen and (max-width : 320px) {
  .memberWrapper{
    padding-top: 4em;
    .memberContent .member .member-wrap div.tabs .row div.tab-link .tes p{
      font-size: 12px;
    }
  }
}
