/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
  .registerWrapper{
    padding-bottom: 28em;
    padding-top: 0;
    .boxed{max-width: 90%;}
    .registerContent{
      width: 100%;
      .centerIt{
        min-width: 100%;
      }
      .loginContent{
        padding: 1em;
        width: 100%;
        .centerIt{
          min-width: 100%;
          form{
            .socialLogin .socialBtn .fb{
              padding-right: 1em;
              padding-left: 1em;
              margin-bottom: 1em;
            }
            .socialLogin .socialBtn .google{
              padding-left: 1em;
              padding-right: 1em;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .registerWrapper{
    padding-bottom: 3em;
    padding-top: 5em;
    .boxed{max-width: 90%;}
    .registerContent{
      padding: 1em;
      width: 100%;
      .centerIt{
        min-width: 100%;
        form{
          .socialregister .socialBtn .fb{
            padding-right: 1em;
            padding-left: 1em;
            margin-bottom: 1em;
          }
          .socialregister .socialBtn .google{
            padding-left: 1em;
            padding-right: 1em;
          }
        }

      }
    }
  }
}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {
  
}
