.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;

	background-color: #fff;

	.footer-content{
		padding: 1em;
		width: 100%;
	}

	a{
		text-transform: capitalize;
		color: #263237;
	}
	.cop,
	ul > li > a{
		line-height: 28px;
	}
	.rowDownload-App{
		margin-left: 0;
		img{
			margin: 0;
			min-height: 160px;
			min-width: 230px;
			width: 100%;
			height: 100%;
		}
	}


}

.copyRight{
	min-width: 100%;
	position: relative;
	height: auto;
	background-color: #fafafa;
	margin-bottom: 0;
	padding: 0.5em 0;
	p{
		color: #757575;
		text-align: left;
		margin: 0.5em auto;
		display: inline;

	}
	.lgcopyright{
		display: inline-block;
		img{
			height: 50px;
		}
	}


	.copyright-section{
		margin: 0;
		width: 100%;
		padding: 1em 0;
		background-color: #f5f5f5;
		text-align: center;
			font-size: 12px;
			color: #757575;
	}
}
